<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @term_agreement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @term_agreement.description %>
</p>

<%= link_to 'Edit', edit_term_agreement_path(@term_agreement) %> |
<%= link_to 'Back', term_agreements_path %>
