<p id="notice"><%= notice %></p>

<p>
  <strong>Nik:</strong>
  <%= @identity.nik %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @identity.full_name %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @identity.birth_place %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @identity.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @identity.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @identity.address %>
</p>

<p>
  <strong>Hamlet:</strong>
  <%= @identity.hamlet %>
</p>

<p>
  <strong>Neighbourhood:</strong>
  <%= @identity.neighbourhood %>
</p>

<p>
  <strong>Urban village:</strong>
  <%= @identity.urban_village %>
</p>

<p>
  <strong>Sub district:</strong>
  <%= @identity.sub_district %>
</p>

<p>
  <strong>District:</strong>
  <%= @identity.district %>
</p>

<p>
  <strong>Province:</strong>
  <%= @identity.province_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @identity.city_id %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @identity.religion %>
</p>

<p>
  <strong>Martial status:</strong>
  <%= @identity.martial_status %>
</p>

<p>
  <strong>Job:</strong>
  <%= @identity.job %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @identity.nationality %>
</p>

<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', identities_path %>
